<title>Radical Group: User Login</title>
<!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    <link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Jura' rel='stylesheet'>

{%load crispy_forms_tags%}


<div class="container" style="text-align: center; margin-top: 20px;">
    <div class="row" style="display: inline-block;">
        <h4 style="color: #800000; Font-family: Orbitron;">USER LOGIN</h4>
        <h4 style="Font-family: Playfair Display; margin-top: 10px;"><i>Login To <b>Access and Purchase<br> High Notch Building Plans</b></i> </h4>
        <p style="Font-family: Dosis; color: #800000;">*<b>N/B:</b> In Order to Purchase Building Plans you must Sign In*</p>
    </div>
</div>

<<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="card card-body" style="margin: 20px; border-color: DarkRed">
                <h3 style="text-align: center; margin:10px; font-family: Lora;">USER LOGIN FORM</h3>
                <hr>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" name="username">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger" style="width: 100%; Font-family: Jura;">SUBMIT</button>
                        <div class="row">
                            <div class="col-sm-6">
                                <p style="Font-family: Dosis; margin-top: 15px;"><a href="{% url 'appRadical:register' %}">Not yet Registered? Sign Up Here</a></p>
                            </div>
                            <div class="col-sm-6">
                                <a href="{% url 'appRadical:index' %}" style="margin-top: 15px; Font-family: Jura;" class="btn btn-outline-secondary">HOME PAGE</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
