{% extends 'appRadical/base.html' %}
{% block title %}Radical Group: Purchase Building Plan - {{building.buildingType}} {{building.buildingCode}}{% endblock %}
{% block content %}
<div class="image" style="position: relative; text-align: center;">
    <img src="https://cdn.pixabay.com/photo/2015/12/07/10/58/building-1080592_960_720.jpg" style="width: 100%; height: 500px;">
    <div class="centered" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #ffffff; animation-name: current_page; animation-duration: 3s;">
        <h1 style="Font-family: Orbitron;">Purchase Building Plan</h1>
        <p style="Font-family: Dosis;"><u><a href="{% url 'appRadical:index' %}">Home</a></u> / <u><a href="{% url 'appRadical:building' %}">Building Plans</a></u> / Purchase Building Plan - {{building.buildingType}} {{building.buildingCode}}</p>
    </div>
</div>

<div class="container" style="text-align: center; margin-top: 20px;">
    <div class="row" style="display: inline-block;">
        <h4 style="color: #800000; Font-family: Orbitron;">PURCHASE BUILDING PLAN</h4>
        <h4 style="Font-family: Playfair Display; margin-top: 10px;"><i>Thank you for choosing<br><b style="Font-family: Permanent Marker;">Radical Group</b>.</i> </h4>
    </div>
</div>

{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <div class="col-sm-6" style="border-right: solid; border-color: #800000; margin-top: 50px; margin-bottom: 50px;">
          <form method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQEj-M_ylL2tK8U4gMU2hG30R33L_ozTPW8mfMqH8i3N_XH_TTH&usqp=CAU" style="max-width: 30%; max-height: auto;">
                    <p><small style="Font-family: Dosis; color: #800000;">*Pay with Mpesa*</small></p>
                </legend>
                {% csrf_token %}
                {{ form|crispy }}
            </fieldset>
            <button type="submit" class="btn btn-success">Purchase</button>
          </form>
        </div>
        <div class="col-sm-6" style="margin-top: 50px; margin-bottom: 50px;">
            <img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg" style="max-width: 30%; max-height: auto; margin-top: 20px;">
        </div>
    </div>
</div>
{% endblock %}